<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<table>
	<tr th:if="${#lists.size(list)} > 0" th:each="sample : ${list}">
	 <td><a href="/openconsultDetail.do?consultingIdx=" 
							th:attrappend="href=${sample.consultingIdx}"
							th:text="${sample.consultingIdx}"></a>	</td>
	 <td th:text="${sample.consultingTitle}"></td>
	</tr>
	<!-- <input type="button" id="list"   class="btn" value="register" href="/register" /> -->
	<a  href="/register">등록하기</a>
	</table>
	<!-- <div class="container">
	<form action="" method="POST" id="frm" name="frm">
		<input type="hidden" name="consultingIdx" th:value="${Dto.ConsultingDto}" />
		<table>
			<tr>
				<td>제목</td>
				<td><input type="text" id="title" name="title" /><a href="/board/openBoardDetail.do?boardIdx=" 
							th:attrappend="href=${board.boardIdx}"></a></td>
			</tr>
		</table>
		<input type="button" id="add" class="btn" value="데이터 넣기" />

		<script>
			// 문서 전체가 로딩되었을 때 실행되는 코드
			$(function() {
				// id 속성의 값이 list인 엘리먼트가 클릭되었을 때 동작을 정의
				$('#list').on('click', function() {
					location.href = '/reply/1234';
				});
			});
		</script>
		</form>
	</div>
	 -->
</body>
</html>